.navbar {
  height: 4.375rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.55rem;

  .logo-container {
    height: 100%;
    width: 4.375rem;
    .logo {
      height: 4rem;
      width: 4rem;
    }
  }

  .list {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 2rem;
    .list-item {
      padding: 0.625rem 1rem;
      font-size: 1.3rem;
      font-weight: 400;
      text-transform: uppercase;
      &:hover {
        border-bottom: 1px solid gray;
      }
    }
    .show-cart-items {
      background: none;
      border: none;
      font-size: 1.3rem;
      &:hover {
        cursor: pointer;
      }
      &:active {
        outline: none;
      }
    }
  }
}
