.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  .profileHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    .pageHeader {
      font-size: 2rem;
    }
  }
}
